h1 {
	margin: auto;
	position: relative;
	font-family: Impact, fantasy;
	top: 600px;
	left: 0px;
}
h3{
	margin: auto;
	position: relative;
	font-family: Impact, fantasy;
	top: 10px;
	left: 0px;
}
body {
	background-color: cyan;
	display: flex;
	align-content: center;
	background-image: url("img/fondo.png");
}
button {
	font-family: Impact, fantasy;
	width: 30px;
	height: 30px;
	position: relative;
	font-weight: bolder;
}
.B_arriba {
	top: 0px;
	left: 39px;
}
.B_abajo {
	top: 70px;
	left: 17px;
}
.B_derecha {
	top: 35px;
	left: 0px;
}
.B_izquierda {
	top: 35px;
	left: -50px;
}
.mando {
	background-color: lightgoldenrodyellow;
	width: 100px;
	height: 100px;
	display: flex;
	border-radius: 45px;
}
#cuadradoRojo {
	width: 50px;
	height: 50px;
	background-color: transparent;
	position: absolute;
}
#escenario {
	display: flex;
	left: 0px;
	top: 0px;
	width: 550px;
	height: 550px;
	position: absolute;
	/*
	display: grid;
	grid-template-columns: repeat(11, 50px);
	grid-template-rows: repeat(11, 50px);
	*/
	margin: auto;
	background-image: url("img/piso.png");
}
#PB{
	width: 50px;
	height: 50px;
	position: absolute;
	margin: auto;
	background-color: blue;
}
#PA{
	width: 50px;
	height: 50px;
	position: absolute;
	margin: auto;
	background-color: yellow;
}
.p6{
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 90px;
	margin: auto;
	background-image: url("img/llave.png");
}
.p5{
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url("img/puerta1a.png");
}
.p4{
	background-color: greenyellow;
	width: 50px;
	height: 50px;
	position: absolute;
	margin: auto;
}
.p3{
	background-color: orangered;
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 90px;
	margin: auto; 
}
.p2{
	background-color: blueviolet;
	position: absolute;
	width: 50px;
	height: 50px;
}
.p1{
	background-color: green;
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url("img/pared.png");
}
.p0{
	background-color: cyan;
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url("img/piso.png");
}