body{
	background-image: url("img/fondo.png");
}
h1 {
	padding: 10px;
	margin: auto;
	position: relative;
	font-family: Impact, fantasy;
}
h3{
	margin: auto;
	position: relative;
	font-family: Impact, fantasy;
	top: 0px;
	left: 0px;
}
button {
	font-family: Impact, fantasy;
	width: 100px;
	height: 100px;
	position: relative;
	font-weight: bolder;
	border-radius: 15px;
}
#juego {
	display: grid;
	width: 750px;
	height: auto;
	margin:auto;
}
.B_arriba {
	top: -25px;
	left: 75px;
	transform: rotate(90deg);
}
.B_abajo {
	top: 125px;
	left: 25px;
	transform: rotate(270deg);
}
.B_derecha {
	top: 50px;
	left: 0px;
}
.B_izquierda {
	top: 50px;
	left: -100px;
}
.mando {
	background-color:white;
	width: 200px;
	height: 200px;
	display: flex;
	border-radius: 45px;
}
.menu {
	background-color: cornsilk;
	position: relative;
	top: -50px;
	margin-left: 550px;
	width: 200px;
	height: 520px;
	display: grid;
	padding: 10px;
	border-style: groove;
}
#cuadradoRojo {
	width: 50px;
	height: 50px;
	background-color: transparent;
	position: relative;
}
#escenario {
	display: flex;
	width: 550px;
	height: 550px;
	position: absolute;
	/*
	display: grid;
	grid-template-columns: repeat(11, 50px);
	grid-template-rows: repeat(11, 50px);
	*/
	background-image: url(img/piso.png);
}
#txts{
	width: 750px;
	height: 160px;
	margin-left: 0px;
	background-color: navy;
	color: aliceblue;
}
#PB{
	width: 50px;
	height: 50px;
	position: absolute;
	margin: auto;
	/*background-color: blue;*/
	background-image: url(img/teleportB.png);
}
#PA{
	width: 50px;
	height: 50px;
	position: absolute;
	margin: auto;
	/*background-color: yellow;*/
	background-image: url(img/teleportA.png);
}
.restart {
	height: 25px;
}
.fantasma {
	width: 25px;
	height: 25px;
	background-color: aqua;
	position: absolute;
	visibility: hidden;
}
.p6{
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 90px;
	margin: auto;
	background-image: url(img/llave.png);
}
.p5{
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url(img/puerta1a.png);
}
.p4{
	background-color: greenyellow;
	width: 50px;
	height: 50px;
	position: absolute;
	margin: auto;
}
.p3{
	background-color: orangered;
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 90px;
	margin: auto; 
}
.p2{
	background-color: blueviolet;
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url(img/muerte.png);
}
.p1{
	background-color: green;
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url(img/pared.png);
}
.p0{
	background-color: cyan;
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url(img/piso.png);
}