h1 {
	padding: 10px;
	margin: auto;
	position: relative;
	font-family: Impact, fantasy;
}
h3{
	margin: auto;
	position: relative;
	font-family: Impact, fantasy;
	top: 0px;
	left: 0px;
}
body {
	background-color: cyan;
	display: grid;
	grid-template-columns: 550px, 110px;
	align-content: center;
	background-image: url("img/fondo.png");
}
button {
	font-family: Impact, fantasy;
	width: 100px;
	height: 100px;
	position: relative;
	font-weight: bolder;
	border-radius: 15px;
}
.B_arriba {
	top: -25px;
	left: 75px;
	transform: rotate(90deg);
}
.B_abajo {
	top: 125px;
	left: 25px;
	transform: rotate(270deg);
}
.B_derecha {
	top: 50px;
	left: 0px;
}
.B_izquierda {
	top: 50px;
	left: -100px;
}
.mando {
	background-color:white;
	width: 200px;
	height: 200px;
	display: flex;
	border-radius: 45px;
}
#menu {
	background-color: cornsilk;
	position: relative;
	top: -8px;
	margin-left: 542px;
	width: 200px;
	height: 550px;
	display: grid;
}
#cuadradoRojo {
	width: 50px;
	height: 50px;
	background-color: transparent;
	position: absolute;
}
#escenario {
	display: flex;
	left: 0px;
	top: 0px;
	width: 550px;
	height: 550px;
	position: absolute;
	/*
	display: grid;
	grid-template-columns: repeat(11, 50px);
	grid-template-rows: repeat(11, 50px);
	*/
	margin: auto;
	background-image: url("img/piso.png");
}
#PB{
	width: 50px;
	height: 50px;
	position: absolute;
	margin: auto;
	background-color: blue;
}
#PA{
	width: 50px;
	height: 50px;
	position: absolute;
	margin: auto;
	background-color: yellow;
}
.p6{
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 90px;
	margin: auto;
	background-image: url("img/llave.png");
}
.p5{
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url("img/puerta1a.png");
}
.p4{
	background-color: greenyellow;
	width: 50px;
	height: 50px;
	position: absolute;
	margin: auto;
}
.p3{
	background-color: orangered;
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 90px;
	margin: auto; 
}
.p2{
	background-color: blueviolet;
	position: absolute;
	width: 50px;
	height: 50px;
}
.p1{
	background-color: green;
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url("img/pared.png");
}
.p0{
	background-color: cyan;
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url("img/piso.png");
}