body {
    background-color: rgb(70, 13, 13);
}
h3{
    margin:auto;
}
#juego{
    align-content:center;
    display:grid;
    grid-template-rows: auto;
    margin:auto;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px;
    width: 650px;
    height: 300px;
}
#testCanva{
    border: 1px solid #747474 ;
    width: 600px;
    height: 250px;
    background-color: aliceblue;
}
.elemento{
    display:flex;
    margin:auto;
}