body {
    background-color: lightblue;
}
h3{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    background-color:cornflowerblue;
    border: 1px solid white;
    text-shadow: 10px;
}
#juego{
    align-content:center;
    display:grid;
    grid-template-rows: auto;
    margin:auto;
    align-items: center;
    background-color: lightblue;
    background-image: url(imgs/bg.png);
    padding: 10px;
    width: 680px;
    height: 330px;
}
#testCanva{
    width: 600px;
    height: 250px;
    background-color: black;
}
.elemento{
    display:flex;
    margin:auto;
}